ConsoleApplication1/ConsoleApplication1.sln
ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/b36a6fa5-0b64-47e4-97dd-a7aab0875e80.vsidx
ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/read.lock
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db-shm
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.db-wal
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.opendb
ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/1e39453988caac63/CONSOLEAPPLICATION1.ipch
ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.user
